*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.col-gray{
    color: gray;
}
.col-gray:hover{
    color: black;
}
.adp-mg{
    margin-right: 40px;
    text-decoration: none;
}

header{
    height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header section{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
}

.flex-left{
    display: flex;
    height: 100%;
}

.flex-left li{
    list-style: none;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.flex-left li img{
    height: 70%;
}

.flex-right{
    display: flex;
    justify-content: right;
    height: 100%;
    align-items: center;
}

.flex-right li{
    list-style: none;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn{
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
}

.dec-1{
    background-color: lightgray;
    color: black;
}

.dec-2{
    background-color: black;
    color: white;
    margin: 15px;
}


/* -------------- DROPDOWN -------------- */

.with-dropdown{
    position: relative;
}

.drop_down{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
    border-radius: 7px;
    position: absolute;
    display: none;
    background-color: white;
}

.drop-down.active{
    display: flex;
}

/* ----------------- FUNZIONALITA' ----------------- */

.drop-funz{
    width: 1000px;
    height: 300px;
    top: 50px;
    right: -535px;
    justify-content: center;
}
 
.box{
    flex-basis: calc(100% / 4);
    height: 100%;
}

/* ----------------- Abbonamenti ----------------- */
.drop-abb{
    width: 150px;
    height: 300px;
    top: 50px;
    right: 10px;
    display: none;
}


/* ----------------- Chi siamo ----------------- */
.drop-who{
    width: 150px;
    height: 300px;
    top: 50px;
    left: -10px;
    display: none;
}

/* ----------------- Aiuto ----------------- */
.drop-help{
    width: 150px;
    height: 300px;
    top: 50px;
    left: -10px;
    display: none;
}
